<!--  ./views/index.handlebars -->
<div class="container py-5">
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">新增一個喜愛的餐廳</h5>
                    <hr>
                    <form method="POST" action="/restaurants/{{restaurant._id}}/edit">
                        <div class="form-group form-row">
                            <label for="name" class="col-md-4 col-form-label">
                                餐廳名稱<small class="text-muted form-text">(必填)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="name" name="name" value="{{restaurant.name}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="name_en" class="col-md-4 col-form-label">
                                餐廳英文名稱
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="restaurant english name" name="name_en"
                                    value="{{restaurant.name_en}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="category" class="col-md-4 col-form-label">
                                餐廳分類<small class="text-muted form-text">(必填)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="category" name="category"
                                    value="{{restaurant.category}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="image" class="col-md-4 col-form-label">
                                餐廳照片連結<small class="text-muted form-text">(必填)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="image link" name="image" value="{{restaurant.image}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="location" class="col-md-4 col-form-label">
                                餐廳地址<small class="text-muted form-text">(必填)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="location" name="location"
                                    value="{{restaurant.location}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="phone" class="col-md-4 col-form-label">
                                餐廳電話
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="google_map" class="col-md-4 col-form-label">
                                餐廳Google地圖
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="google_map" name="google_map"
                                    value="{{restaurant.google_map}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="rating" class="col-md-4 col-form-label">
                                餐廳評分<small class="text-muted form-text">(必填. 請填入1-5之間的數字)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="rating" name="rating" value="{{restaurant.rating}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="description" class="col-md-4 col-form-label">
                                餐廳描述<small class="text-muted form-text">(必填)</small>
                            </label>
                            <div class="col-md-8">
                                <input type="text" placeholder="description" name="description"
                                    value="{{restaurant.description}}" class="form-control">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success" type="submit">儲存資料</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>